@import '../variables.scss';

.days-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    margin: 0.6rem 0;
    color: $medium-brown;
    border-bottom: 2px solid $cream;
    padding-bottom: 2rem;
}

